<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <ComponentGroup Id="NodeRuntime" Directory="NodeDir">
      <Component Id="NodeExeComponent" Guid="*">
        <File Id="NodeExe" Source="$(var.StageDir)\node\node.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
